<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTTP 400 Bad Request</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sty.css') }}">
</head>
<body>
    <h1>HTTP 400 Bad Request</h1>
    <div class="subtitle">You Naughty Child!</div>
    <p class="report-text">
        If you think you found a website bug, please
        <a href="https://github.com/Manfred-crypto/bryan-blog">report this issue on GitHub</a>.
    </p>
    <hr>
    <p class="footer-note">4e6175676874794368696c64</p>
</body>
