<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTTP 404</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sty.css') }}">
</head>
<body>
    <h1>HTTP 404 Not Found</h1>
    <div class="subtitle">Seriously, you won't get anything out of this page</div>
    <p class="report-text">
        If you think you found a website bug, please
        <a href="https://github.com/Manfred-crypto/bryan-blog">report this issue on GitHub</a>.
    </p>
    <hr>
    <p class="footer-note">This page isn't a puzzle.</p>
    <!-- 506c656173654765744f7574 -->
    <!-- Good game id you are reading this -->
    <!-- Btw you lost the game -->
</body>
