<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diamond Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sty.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <h1>Leaderboard</h1>
    <div class="card">
        <table>
            <tr>
                <th>Rank</th>
                <th>Explorer</th>
                <th>Charisma</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>
</html>
